.navbar {
    width:auto;
}
.navbarleft{
  margin:1px;
  background-color: #f5f5f5;
  color: black;
}
.sub-header{
    margin-top: 10px;
    text-align: left;
    display: grid;
    background-color: #f5f5f5;
}
.name{
  font-size:18px;
  font-weight: bold;
}
.navbar-brand {
    color: #FF4500;
}

.brand{
  color: #FF4500 !important;
  font-size: 14px !important;
}
.navbar-default .navbar-brand {
    color: #e20b0b;
    font-family: "Comic Sans MS";
}

.navbar-default .navbar-nav .nav-item>li>a{
  font-weight: "Bold";
}

.body-data-dark{
  background-color: black;
}
.body-data-dark > nav{
  background-color: #051371;
  color: white;
}
.body-data-dark > nav >div > div > ul > li >a{
  color: white !important;
}

.body-data-dark > nav >div > div > ul > li >a>a{
  color: white !important;
}

.body-data-dark > div >div > div>div > div {
  background-color: black;
  color: white !important;
  border: 1px solid #0d22b1;
}
.body-data-dark > div >div > div>div > div:hover {
  background-color: #5b83cc;
}
.body-data-dark > div >div > div>div > div:hover >a{
  color: white;
}
.body-data-dark > div >div > div>div > div > button{
  background-color: #0d22b1;
}
.body-data-dark > nav >div > div >.navbar-nav>.open>a , .body-data-dark > nav >div > div >.navbar-nav>.open>a:hover , .body-data-dark > nav >div > div >.navbar-nav>.open>a:focus{
    color: white;
    background-color: #5b83cc;
}
.body-data-dark > nav >div > div >.navbar-nav>.open>.dropdown-menu{
  color: white;
  background-color: #5b83cc;
}
.body-data-dark > nav >div > div >.navbar-nav>.open>.dropdown-menu>li>a>a , .body-data-dark > nav >div > div >.navbar-nav>.open>.dropdown-menu>li>a{
  color: white;
}
.body-data-dark > nav >div > div >.navbar-nav>.open>.dropdown-menu>li>a:hover{
  background-color: black;
}

.body-data{
  background-color: white;
}
