.main-card{
  width:100%;
}
.main-card:hover{
  text-decoration: none;
}
.card-border {
  border: 1px solid #848080;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #f7eeee;
  padding: 15px;
}

.card-border-dark {
  border: 1px solid #848080;
  border-radius: 5px;
  margin-top: 5px;
  background-color: black;
  color: white !important;
  padding: 15px;
}
.card-border-dark:hover {
  background-color: dimgray;
}
.card-bobrder-dark > button{
  background-color: #0d22b1;
}

.card-border:hover{
  background-color: #f5f5f5;
}

a{
  color: #434648;
}

.author{
  font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-text{
  font-size: 20px;
}

.external-link{
  font-size: 11px;
  display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    margin-top: 10px;
    color:rgb(64, 118, 159);
}

.description{
  max-height: 180px;
  overflow: hidden !important;
  text-overflow: ellipsis;
  margin-top: 10px;
}

.open-modal{
  float: right;
}
